@font-face {
	font-family: 'AlbertSans';
	src: url('/fonts/AlbertSans-VariableFont_wght.ttf') format('truetype');
}

:root {
	/* */
	--foreground: #333;
	/* for buttons and clickable elements*/
	--accent: #a4a;
	/* highlight of accented elements */
	--highlight: #ddd;
	/* Light text for dark backgrounds */
	--light-text: #fff;
}

body {
	font-family: 'AlbertSans';
}

div.spacer {
	flex-grow: 1;
}